body {
    font-family: Arial, sans-serif;
    background-color: #f8f6f6;
    font-size: 14;
}

table {
    width: 600px;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #777777;
    text-align: center;
    padding: 2px;
    white-space: nowrap; /* Prevents text from wrapping and keeps the cell width to the minimum required */
    overflow: hidden; /* Ensures content doesn't overflow the cell */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
    min-width: 2px; /* Sets a minimum width for the cells, adjust as needed */
    max-width: 0px; /* Sets a maximum width for the cells to ensure they don't grow too large */
}

th {
    background-color: #f2f2f2;
}

td.editable {
    background-color: #fff;
}

input[type="number"] {
    width: 100%;
    padding: 6px;
    border: none;
    box-sizing: border-box;
}

.input-cell {
    padding: 0;
}

.input-cell input {
    border: 0px solid #dddddd;
    margin-top: -1px;
    border-radius: 0;
}

.highlight {
    background-color: #5fd7a9;
}

.tables-container {
    display: flex;
    flex-wrap: wrap; /* Allow tables to wrap on smaller screens */
    justify-content: center;
    gap: 2px;
}

/* .roll-table th, .roll-table td {
    border: 1px solid #777777;
    text-align: center;
    padding: 4px;
} */

.roll-table th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 2vw; /* Adjust font size for smaller screens */
    }
    table {
        width: 95%;
    }
    th, td {
        padding: 2px; /* Reduce padding for smaller screens */
    }
    .roll-table th, .roll-table td {
        border: 1px solid #777777;
        text-align: center;
        padding: 2px;
    }
    
    .roll-table th {
        background-color: #f2f2f2;
    }
    .tables-container {
        gap: 0px; /* Reduce space between tables */
    }

    .input-cell input, .small-input input {
        padding: 1px; /* Reduce padding for input fields */
    }
    
    /* Additional styles for mobile */
    .roll-table, .financial-table {
        margin-top: 0; /* Remove additional margin on mobile */
        margin-bottom: 5px; /* Add some space below the tables */
    }
}
